<div class="background-border">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{lobby.title}}</h5>
            <p class="card-text">{{lobby.desc}}.</p><br>
            <h5 class="card-title">Lobby Link:</h5>
                <p class="card-text">{{lobby.link}}</p>
            <footer>
                <a href="/lobby/{{lobby.id}}/edit">Edit</a>
            </footer>
        </div>
    </div>
    
    <br>

    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h3>New comment</h3>
                <div class="lead">
                    Lobby: {{lobby.title}}
                </div>
            </div>
            <div class="card-text">
                <form action="/lobby/{{lobby.id}}/comment" method="post">
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input name="name" class="form-control" placeholder="Jane Doe" />
                    </div>
                    <div class="form-group">
                        <label for="desc">Comment</label>
                        <input name="desc" class="form-control" placeholder="Comment" />
                    </div>
                    <div class="text-right">
                        <a href="/" class='text-muted mr-2'>Cancel</a>
                        <button type="submit" class="btn btn-primary" name="button">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 offset-lg-3">
        <div class="d-flex justify-content-between">
            <b>Comments ({{lobby.Comments.length}})</b>
        </div>

        <div class="list-group mt-4">
            {{#each lobby.Comments}}
            <div class="list-group-item clearfix">
                <div class="float-left">
                    <h5>{{this.name}}</h5><br>
                    {{this.desc}}
                </div>
                <div class="float-right">
                    <form class="form-inline" action="/lobby/{{../lobby.id}}/comment/{{this.id}}?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-link btn-sm">Remove</button>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

